<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить запись</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" th:href="@{/wellbeing_diary.ico}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet" type="text/css" th:href="@{/entry.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
<div class="container">
    <div th:replace="~{navbar :: content}"></div>
    <div class="content">
        <h1>Новая запись</h1>

        <form th:action="@{/diary/}" method="post" class="border p-4 rounded shadow-sm">

            <div class="input-group mb-3">
                <span class="input-group-text">Создано</span>
                <input type="datetime-local" id="createdAt" name="createdAt" class="form-control" disabled>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Город</span>
                <input type="text" id="city" name="city" class="form-control">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Заметка</span>
                <textarea id="entryText" name="entryText" class="form-control" th:attr="placeholder=${null}"></textarea>
            </div>

            <label>Настроение:</label><br>
            <input class="radio_item" type="radio" id="mood_excellent" name="mood" value="EXCELLENT"/>
            <label class="label_item" for="mood_excellent">
                <span class="material-symbols-outlined">sentiment_very_satisfied</span>
            </label>

            <input class="radio_item" type="radio" id="mood_good" name="mood" value="GOOD"/>
            <label class="label_item" for="mood_good">
                <span class="material-symbols-outlined">sentiment_satisfied</span>
            </label>

            <input class="radio_item" type="radio" id="mood_normal" name="mood" value="NORMAL"/>
            <label class="label_item" for="mood_normal">
                <span class="material-symbols-outlined">sentiment_neutral</span>
            </label>

            <input class="radio_item" type="radio" id="mood_bad" name="mood" value="BAD"/>
            <label class="label_item" for="mood_bad">
                <span class="material-symbols-outlined">sentiment_dissatisfied</span>
            </label>

            <input class="radio_item" type="radio" id="mood_awful" name="mood" value="AWFUL"/>
            <label class="label_item" for="mood_awful">
                <span class="material-symbols-outlined">sentiment_sad</span>
            </label>

            <input type="radio" name="mood" th:value="null" checked hidden/>
            <br>


            <label>Самочувствие:</label><br>
            <input class="radio_item" type="radio" id="stateOfHealth_excellent" name="stateOfHealth" value="EXCELLENT"/>
            <label class="label_item" for="stateOfHealth_excellent">
                <span class="material-symbols-outlined">sentiment_very_satisfied</span>
            </label>

            <input class="radio_item" type="radio" id="stateOfHealth_good" name="stateOfHealth" value="GOOD"/>
            <label class="label_item" for="stateOfHealth_good">
                <span class="material-symbols-outlined">sentiment_satisfied</span>
            </label>

            <input class="radio_item" type="radio" id="stateOfHealth_normal" name="stateOfHealth" value="NORMAL"/>
            <label class="label_item" for="stateOfHealth_normal">
                <span class="material-symbols-outlined">sentiment_neutral</span>
            </label>

            <input class="radio_item" type="radio" id="stateOfHealth_bad" name="stateOfHealth" value="BAD"/>
            <label class="label_item" for="stateOfHealth_bad">
                <span class="material-symbols-outlined">sentiment_dissatisfied</span>
            </label>

            <input class="radio_item" type="radio" id="stateOfHealth_awful" name="stateOfHealth" value="AWFUL"/>
            <label class="label_item" for="stateOfHealth_awful">
                <span class="material-symbols-outlined">sentiment_sad</span>
            </label>

            <input type="radio" name="stateOfHealth" th:value="null" checked hidden/>
            <br>

            <label>Количество физической активности:</label><br>
            <input class="radio_item" type="radio" id="activity_excellent" name="activityAmount" value="EXCELLENT"/>
            <label class="label_item" for="activity_excellent">
                <span class="material-symbols-outlined">sentiment_very_satisfied</span>
            </label>

            <input class="radio_item" type="radio" id="activity_good" name="activityAmount" value="GOOD"/>
            <label class="label_item" for="activity_good">
                <span class="material-symbols-outlined">sentiment_satisfied</span>
            </label>

            <input class="radio_item" type="radio" id="activity_normal" name="activityAmount" value="NORMAL"/>
            <label class="label_item" for="activity_normal">
                <span class="material-symbols-outlined">sentiment_neutral</span>
            </label>

            <input class="radio_item" type="radio" id="activity_bad" name="activityAmount" value="BAD"/>
            <label class="label_item" for="activity_bad">
                <span class="material-symbols-outlined">sentiment_dissatisfied</span>
            </label>

            <input class="radio_item" type="radio" id="activity_awful" name="activityAmount" value="AWFUL"/>
            <label class="label_item" for="activity_awful">
                <span class="material-symbols-outlined">sentiment_sad</span>
            </label>

            <input type="radio" name="activityAmount" th:value="null" checked hidden/>
            <br>


            <div class="input-group mb-3">
                <span class="input-group-text">Пульс</span>
                <input type="text" id="heartRate" name="healthEntry.heartRate" class="form-control">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Верхнее давление:</span>
                <input type="text" id="systolicBloodPressure" name="healthEntry.systolicBloodPressure"
                       class="form-control">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Нижнее давление:</span>
                <input type="text" id="diastolicBloodPressure" name="healthEntry.diastolicBloodPressure"
                       class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>
<script>
    function getCity() {
        navigator.geolocation.getCurrentPosition(function(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;

            var url = "https://nominatim.openstreetmap.org/reverse?format=json&lat=" + latitude + "&lon=" + longitude;

            fetch(url)
                .then(response => response.json())
                .then(data => {
                var city = data.address.city;
                document.getElementById('city').value = city;
            })
                .catch(error => {
                console.error("Ошибка при определении города:", error);
            });
        });
    }

    function setDateTime() {
        var now = new Date();
        var formattedDate = now.getFullYear() + '-' + ('0' + (now.getMonth() + 1)).slice(-2) + '-' + ('0' + now.getDate()).slice(-2);
        var formattedTime = ('0' + now.getHours()).slice(-2) + ':' + ('0' + now.getMinutes()).slice(-2);
        document.getElementById('createdAt').value = formattedDate + 'T' + formattedTime;
    }

    getCity();
    setDateTime();
</script>
</body>
</html>