<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Запись дневника</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" th:href="@{/wellbeing_diary.ico}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/entry.css}"/>
</head>
<body>
<div class="container">
    <div th:replace="~{navbar :: content}"></div>
    <div class="content">
        <h1>Запись дневника</h1>
        <div class="border p-4 rounded shadow-sm">
            <div class="mb-3">
                <label class="fw-bold">Создано:</label>
                <p><span th:text="${#dates.format(diaryEntryResponse.createdAt, 'dd.MM.yyyy HH:mm')}"></span></p>
            </div>

            <div class="mb-3">
                <label class="fw-bold">Заметка:</label>
                <p><span th:text="${diaryEntryResponse.entryText ?: 'N/A'}"></span></p>
            </div>
            <p>
            <div class="mb-3">
                <label class="fw-bold">Настроение:</label>
                <p>
                <span th:if="${diaryEntryResponse.mood != null}">
                    <span th:switch="${diaryEntryResponse.mood.name()}">
                        <span th:case="'EXCELLENT'" class="material-symbols-outlined">sentiment_very_satisfied</span>
                        <span th:case="'GOOD'" class="material-symbols-outlined">sentiment_satisfied</span>
                        <span th:case="'NORMAL'" class="material-symbols-outlined">sentiment_neutral</span>
                        <span th:case="'BAD'" class="material-symbols-outlined">sentiment_dissatisfied</span>
                        <span th:case="'AWFUL'" class="material-symbols-outlined">sentiment_sad</span>
                    </span>
                </span>
                    <span th:unless="${diaryEntryResponse.mood != null}">N/A</span>
                </p>
            </div>
            </p>
            <p>
            <div class="mb-3">
                <label class="fw-bold">Самочувствие:</label>
                <p>
                <span th:if="${diaryEntryResponse.stateOfHealth != null}">
                    <span th:switch="${diaryEntryResponse.stateOfHealth.name()}">
                        <span th:case="'EXCELLENT'" class="material-symbols-outlined">sentiment_very_satisfied</span>
                        <span th:case="'GOOD'" class="material-symbols-outlined">sentiment_satisfied</span>
                        <span th:case="'NORMAL'" class="material-symbols-outlined">sentiment_neutral</span>
                        <span th:case="'BAD'" class="material-symbols-outlined">sentiment_dissatisfied</span>
                        <span th:case="'AWFUL'" class="material-symbols-outlined">sentiment_sad</span>
                    </span>
                </span>
                    <span th:unless="${diaryEntryResponse.stateOfHealth != null}">N/A</span>
                </p>
            </div>
            </p>
            <p>
            <div class="mb-3">
                <label class="fw-bold">Количество физической активности:</label>
                <p>
                <span th:if="${diaryEntryResponse.activityAmount != null}">
                    <span th:switch="${diaryEntryResponse.activityAmount.name()}">
                        <span th:case="'EXCELLENT'" class="material-symbols-outlined">sentiment_very_satisfied</span>
                        <span th:case="'GOOD'" class="material-symbols-outlined">sentiment_satisfied</span>
                        <span th:case="'NORMAL'" class="material-symbols-outlined">sentiment_neutral</span>
                        <span th:case="'BAD'" class="material-symbols-outlined">sentiment_dissatisfied</span>
                        <span th:case="'AWFUL'" class="material-symbols-outlined">sentiment_sad</span>
                    </span>
                </span>
                    <span th:unless="${diaryEntryResponse.activityAmount != null}">Количество физической активности: N/A</span>
                </p>
            </div>
            <div class="mb-4">
            <p class="fw-bold"><strong>Здоровье</strong></p>
            <p th:if="${diaryEntryResponse.healthEntry != null}">
                <strong>Пульс: </strong><span th:text="${diaryEntryResponse.healthEntry.heartRate ?: 'N/A'}"></span><br>
                <strong>Верхнее давление: </strong><span
                    th:text="${diaryEntryResponse.healthEntry.systolicBloodPressure ?: 'N/A'}"></span><br>
                <strong>Нижнее давление: </strong><span
                    th:text="${diaryEntryResponse.healthEntry.diastolicBloodPressure ?: 'N/A'}"></span><br>
            </p>
            <p th:unless="${diaryEntryResponse.healthEntry != null}">
                Данных нет
            </p>
            </div>
            <div class="mb-4">
            <p class="fw-bold"><strong>Погода</strong></p>
            <p th:if="${diaryEntryResponse.weatherEntry != null}">
                <strong>Температура: </strong><span
                    th:text="${diaryEntryResponse.weatherEntry.temperature ?: 'N/A'}"></span><br>
                <strong>Тип погоды: </strong><span
                    th:text="${diaryEntryResponse.weatherEntry.weatherType ?: 'N/A'}"></span><br>
            </p>
            <p th:unless="${diaryEntryResponse.weatherEntry != null}">
                Данных нет
            </p>
            </div>
        </div>
        <a th:href="@{/diary/update/{id}(id=${diaryEntryResponse.id})}">Обновить запись</a>
    </div>
</div>
</body>
</html>