<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Обновить запись</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" th:href="@{/wellbeing_diary.ico}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/entry.css}"/>
</head>
<body>
<div class="container">
    <div th:replace="~{navbar :: content}"></div>
    <div class="content">
        <h1>Обновить запись</h1>

        <label>Создано: <span th:text="${diaryEntryResponse.createdAt}"></span></label><br><br>

        <form th:action="@{/diary/update}" th:object="${diaryEntryResponse}" method="post">
            <input type="hidden" id="id" name="id" th:value="${diaryEntryResponse.id}"/>
            <input type="hidden" id="userid" name="userId" th:value="${diaryEntryResponse.userId}"/>
            <input type="hidden" id="createdAt" name="createdAt"
                   th:value="${#dates.format(diaryEntryResponse.createdAt, 'yyyy-MM-dd''T''HH:mm')}">

            <label for="entryText">Заметка:</label>
            <textarea id="entryText" name="entryText" th:text="${diaryEntryResponse.entryText}"></textarea><br><br>

            <label>Настроение:</label><br>
            <input class="radio_item" type="radio" id="mood_excellent" name="mood" value="EXCELLENT"
                   th:checked="${diaryEntryResponse.mood != null} ? ${grade == diaryEntryResponse.mood} : false"/>
            <label class="label_item" for="mood_excellent">
                <span class="material-symbols-outlined">sentiment_very_satisfied</span>
            </label>

            <input class="radio_item" type="radio" id="mood_good" name="mood" value="GOOD"
                   th:checked="${diaryEntryResponse.mood != null} ? ${grade == diaryEntryResponse.mood} : false"/>
            <label class="label_item" for="mood_good">
                <span class="material-symbols-outlined">sentiment_satisfied</span>
            </label>

            <input class="radio_item" type="radio" id="mood_normal" name="mood" value="NORMAL"
                   th:checked="${diaryEntryResponse.mood != null} ? ${grade == diaryEntryResponse.mood} : false"/>
            <label class="label_item" for="mood_normal">
                <span class="material-symbols-outlined">sentiment_neutral</span>
            </label>

            <input class="radio_item" type="radio" id="mood_bad" name="mood" value="BAD"
                   th:checked="${diaryEntryResponse.mood != null} ? ${grade == diaryEntryResponse.mood} : false"/>
            <label class="label_item" for="mood_bad">
                <span class="material-symbols-outlined">sentiment_dissatisfied</span>
            </label>

            <input class="radio_item" type="radio" id="mood_awful" name="mood" value="AWFUL"
                   th:checked="${diaryEntryResponse.mood != null} ? ${grade == diaryEntryResponse.mood} : false"/>
            <label class="label_item" for="mood_awful">
                <span class="material-symbols-outlined">sentiment_sad</span>
            </label>

            <input type="radio" name="mood" value="${null}" hidden
                   th:checked="${diaryEntryResponse.mood != null} ? ${grade == diaryEntryResponse.mood} : false"/>
            <br>


            <label>Самочувствие:</label><br>
            <input class="radio_item" type="radio" id="stateOfHealth_excellent" name="stateOfHealth" value="EXCELLENT"
                   th:checked="${diaryEntryResponse.stateOfHealth != null} ? ${grade == diaryEntryResponse.stateOfHealth} : false"/>
            <label class="label_item" for="stateOfHealth_excellent">
                <span class="material-symbols-outlined">sentiment_very_satisfied</span>
            </label>

            <input class="radio_item" type="radio" id="stateOfHealth_good" name="stateOfHealth" value="GOOD"
                   th:checked="${diaryEntryResponse.stateOfHealth != null} ? ${grade == diaryEntryResponse.stateOfHealth} : false"/>
            <label class="label_item" for="stateOfHealth_good">
                <span class="material-symbols-outlined">sentiment_satisfied</span>
            </label>

            <input class="radio_item" type="radio" id="stateOfHealth_normal" name="stateOfHealth" value="NORMAL"
                   th:checked="${diaryEntryResponse.stateOfHealth != null} ? ${grade == diaryEntryResponse.stateOfHealth} : false"/>
            <label class="label_item" for="stateOfHealth_normal">
                <span class="material-symbols-outlined">sentiment_neutral</span>
            </label>

            <input class="radio_item" type="radio" id="stateOfHealth_bad" name="stateOfHealth" value="BAD"
                   th:checked="${diaryEntryResponse.stateOfHealth != null} ? ${grade == diaryEntryResponse.stateOfHealth} : false"/>
            <label class="label_item" for="stateOfHealth_bad">
                <span class="material-symbols-outlined">sentiment_dissatisfied</span>
            </label>

            <input class="radio_item" type="radio" id="stateOfHealth_awful" name="stateOfHealth" value="AWFUL"
                   th:checked="${diaryEntryResponse.stateOfHealth != null} ? ${grade == diaryEntryResponse.stateOfHealth} : false"/>
            <label class="label_item" for="stateOfHealth_awful">
                <span class="material-symbols-outlined">sentiment_sad</span>
            </label>

            <input type="radio" name="stateOfHealth" value="${null}" hidden
                   th:checked="${diaryEntryResponse.stateOfHealth != null} ? ${grade == diaryEntryResponse.stateOfHealth} : false"/>
            <br>

            <label>Количество физической активности:</label><br>
            <input class="radio_item" type="radio" id="activity_excellent" name="activityAmount" value="EXCELLENT"
                   th:checked="${diaryEntryResponse.activityAmount != null} ? ${grade == diaryEntryResponse.activityAmount} : false"/>
            <label class="label_item" for="activity_excellent">
                <span class="material-symbols-outlined">sentiment_very_satisfied</span>
            </label>

            <input class="radio_item" type="radio" id="activity_good" name="activityAmount" value="GOOD"
                   th:checked="${diaryEntryResponse.activityAmount != null} ? ${grade == diaryEntryResponse.activityAmount} : false"/>
            <label class="label_item" for="activity_good">
                <span class="material-symbols-outlined">sentiment_satisfied</span>
            </label>

            <input class="radio_item" type="radio" id="activity_normal" name="activityAmount" value="NORMAL"
                   th:checked="${diaryEntryResponse.activityAmount != null} ? ${grade == diaryEntryResponse.activityAmount} : false"/>
            <label class="label_item" for="activity_normal">
                <span class="material-symbols-outlined">sentiment_neutral</span>
            </label>

            <input class="radio_item" type="radio" id="activity_bad" name="activityAmount" value="BAD"
                   th:checked="${diaryEntryResponse.activityAmount != null} ? ${grade == diaryEntryResponse.activityAmount} : false"/>
            <label class="label_item" for="activity_bad">
                <span class="material-symbols-outlined">sentiment_dissatisfied</span>
            </label>

            <input class="radio_item" type="radio" id="activity_awful" name="activityAmount" value="AWFUL"
                   th:checked="${diaryEntryResponse.activityAmount != null} ? ${grade == diaryEntryResponse.activityAmount} : false"/>
            <label class="label_item" for="activity_awful">
                <span class="material-symbols-outlined">sentiment_sad</span>
            </label>

            <input type="radio" name="activityAmount" value="${null}" hidden
                   th:checked="${diaryEntryResponse.activityAmount != null} ? ${grade == diaryEntryResponse.activityAmount} : false"/>



            <label for="heartRate">Пульс:</label>
            <input type="text" id="heartRate" name="healthEntry.heartRate"
                   th:value="${diaryEntryResponse.healthEntry != null} ? ${diaryEntryResponse.healthEntry.heartRate} : ''"><br><br>

            <label for="systolicBloodPressure">Верхнее давление:</label>
            <input type="text" id="systolicBloodPressure" name="healthEntry.systolicBloodPressure"
                   th:value="${diaryEntryResponse.healthEntry != null} ? ${diaryEntryResponse.healthEntry.systolicBloodPressure} : ''"><br><br>

            <label for="diastolicBloodPressure">Нижнее давление:</label>
            <input type="text" id="diastolicBloodPressure" name="healthEntry.diastolicBloodPressure"
                   th:value="${diaryEntryResponse.healthEntry != null} ? ${diaryEntryResponse.healthEntry.diastolicBloodPressure} : ''"><br><br>

            <input type="submit" value="Submit">
        </form>

        <form id="deleteForm" action="/diary/delete" method="post">
            <input type="hidden" name="id" th:value="${diaryEntryResponse.id}"/>
            <button type="submit">Удалить запись</button>
        </form>
    </div>
</div>
</body>
</html>