<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменить профиль</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" th:href="@{/wellbeing_diary.ico}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
<div class="container">
    <div th:replace="~{navbar :: content}"></div>
    <div class="content">
        <h1>Редактирование профиля</h1>
        <form action="/user/update" method="post" class="border p-4 rounded shadow-sm">
            <input type="hidden" name="id" th:value="${userResponse.id}" />

            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" id="username" name="username" class="form-control" th:value="${userResponse.username}" />
            </div>

            <div class="mb-3">
                <label for="role" class="form-label">Роль:</label>
                <select id="role" name="role" class="form-select">
                    <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"
                            th:selected="${role == userResponse.role.name()}"></option>
                </select>
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" id="allowsDataAccess" name="allowsDataAccess" class="form-check-input"
                       th:checked="${userResponse.allowsDataAccess}" />
                <label for="allowsDataAccess" class="form-check-label">Даю согласие на доступ к данным</label>
            </div>

            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a href="/user/update_password">Изменить пароль</a>
        </form>

        <form id="deleteForm" action="/user/delete" method="post">
            <input type="hidden" name="id" th:value="${userResponse.id}"/>
            <button class="delete-button" type="submit">Удалить профиль</button>
        </form>
    </div>
</div>
</body>
</html>