<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Профиль</title>
</head>
<body>
<h1>Информация о пользователе</h1>
<label>Логин:</label>
<p th:text="${userResponse.username}"></p>

<label>Роль:</label>
<p th:text="${userResponse.role.name()}"></p>

<label>Даю согласие на доступ к данным:</label>
<p th:text="${userResponse.allowsDataAccess ? 'Да' : 'Нет'}"></p>

<a href="/user/update">Редактировать</a><br>
<a href="/logout">Выйти</a>
<th:block th:if="${userResponse.role.name() == 'ANALYST'}">
<a href="/diary/open_list">Открытые записи</a>
</th:block>
<a href="/diary/list">Мои записи</a>
<a href="/diary/new">Новая запись</a>
</body>
</html>